*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{

    background:black;

    font-family:Arial;

    overflow-x:hidden;

    color:white;
}

/* INTRO SCREEN */

#intro{

    position:fixed;

    width:100%;

    height:100vh;

    background:black;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:9999;
}

/* INTRO VIDEO */

#intro-video{

    width:100%;

    height:100%;

    object-fit:cover;
}

/* MAIN CONTENT */

#main-content{

    display:none;

    background:black;

    min-height:100vh;
}

/* NAVBAR */

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 50px;

    background:black;
}

/* LOGO */

.logo h1{

    color:red;

    font-size:40px;
}

/* NAV LINKS */

nav ul{

    display:flex;

    list-style:none;

    gap:30px;
}

nav li{

    cursor:pointer;

    transition:0.3s;
}

nav li:hover{

    color:#b3b3b3;
}

/* NAV LINKS */

nav a{

    color:white;

    text-decoration:none;

    transition:0.3s;
}

nav a:hover{

    color:#b3b3b3;
}

/* HERO SECTION */

.hero-section{

    padding:80px 50px 40px;
}

.hero-section h1{

    font-size:60px;

    margin-bottom:20px;
}

.hero-section p{

    color:#b3b3b3;

    font-size:22px;
}

/* VIDEOS SECTION */

.videos-section{

    padding:20px 50px;

    width:100%;
}

/* VIDEO ROW */

.video-row{

    display:flex;

    gap:20px;

    overflow-x:auto;

    align-items:flex-start;
}

/* REMOVE SCROLLBAR */

.video-row::-webkit-scrollbar{

    display:none;
}

/* VIDEO CARD */

.video-card{

    flex-shrink:0;
}

/* LANDSCAPE VIDEO */

.movie-video{

    width:300px;

    height:170px;

    object-fit:cover;

    border-radius:10px;

    cursor:pointer;

    transition:0.3s;
}

/* PORTRAIT VIDEO */

.portrait-video{

    width:220px !important;

    height:390px !important;

    object-fit:cover !important;
}

/* HOVER EFFECT */

.movie-video:hover{

    transform:scale(1.05);
}

/* VIDEO TITLE */

.video-card h3{

    margin-top:10px;

    text-align:center;
}