<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Videos</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>

    <!-- NAVBAR -->

    <nav>

        <div class="logo">

            <h1>MYFLIX</h1>

        </div>

        <ul>

            <li><a href="index.html">Home</a></li>

        </ul>

    </nav>

    <!-- VIDEOS PAGE -->

    <section class="videos-section">

        <h1 style="margin-bottom:40px;">My Semester Videos</h1>

        <div class="video-row">

            <!-- SEMESTER 1 -->

            <div class="video-card">

                <video class="movie-video" onclick="openFullscreen(this)">

                    <source src="https://res.cloudinary.com/dnoy1wp3j/video/upload/v1781612874/SEM_1_qbu7ti.mp4" type="video/mp4">

                </video>

                <h3>Semester 1</h3>

            </div>

            <!-- SEMESTER 2 -->

            <div class="video-card">

                <video class="movie-video" onclick="openFullscreen(this)">

                    <source src="https://res.cloudinary.com/dnoy1wp3j/video/upload/v1781612863/SEM_2_vvjker.mp4" type="video/mp4">

                </video>

                <h3>Semester 2</h3>

            </div>

        </div>

    </section>

<script src="script.js"></script>
</body>
</html>